.git
**/.venv
**/__pycache__
**/*.pyc
.ruff_cache
.pytest_cache
runs/
build/
dist/
scratch/
**/.mypy_cache
**/.cache
**/artifacts
**/checkpoints
**/wandb
experiments
**/*.bin
**/*.pt
**/*.pth
**/*.safetensors
.env
**/.env.*
**/.aws
**/.azure
**/.docker
**/.gnupg
**/.kube
**/.ssh
**/.terraform
**/.terraform.d
